@font-face {
	font-family: 'MADE TOMMY';
	src: url('../assets/fonts/MADE TOMMY Thin_PERSONAL USE.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE TOMMY';
	src: url('../assets/fonts/MADE TOMMY Light_PERSONAL USE.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE TOMMY';
	src: url('../assets/fonts/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE TOMMY';
	src: url('../assets/fonts/MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE TOMMY';
	src: url('../assets/fonts/MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-family-base: 'MADE TOMMY', system-ui, 'Segoe UI', sans-serif;
}
